NodeRED_RefboxSim_OPC_UA_V6.0.txt
[{"id":"ce2f9a7e.2fb778","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"5bb1a4da.1c131c","type":"OpcUa-Client","z":"ce2f9a7e.2fb778","endpoint":"22bafceb.b85514","action":"subscribe","time":"1","timeUnit":"ms","name":"Client Subscribe","x":760,"y":480,"wires":[["75c70eff.63e08"]]},{"id":"e9052838.7555a8","type":"OpcUa-Item","z":"ce2f9a7e.2fb778","item":"ns=4;s=|var|CPX-E-CEC-C1-PN.Application.G.In.p.ActionId","datatype":"UInt16","value":"action","name":"in.p.ActionId","x":290,"y":400,"wires":[["25bad1b1.8081ae"]]},{"id":"344b498f.49b6d6","type":"inject","z":"ce2f9a7e.2fb778","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":423,"wires":[["e9052838.7555a8","61e0ae0a.18c3c","11a9d0be.188a2f","b88a07af.591678","e5108a80.1631a8","7883455f.45415c","b1cde5d0.4a0418","9c021857.47ab48","5fc73871.72dca8","61211546.67880c"]]},{"id":"61e0ae0a.18c3c","type":"OpcUa-Item","z":"ce2f9a7e.2fb778","item":"ns=4;s=|var|CPX-E-CEC-C1-PN.Application.G.In.p.Data[0]","datatype":"UInt16","value":"","name":"in.p.Data[0]","x":291,"y":443,"wires":[["25bad1b1.8081ae"]]},{"id":"11a9d0be.188a2f","type":"OpcUa-Item","z":"ce2f9a7e.2fb778","item":"ns=4;s=|var|CPX-E-CEC-C1-PN.Application.G.In.p.Data[1]","datatype":"UInt16","value":"","name":"in.p.Data[1]","x":291,"y":482,"wires":[["25bad1b1.8081ae"]]},{"id":"b88a07af.591678","type":"OpcUa-Item","z":"ce2f9a7e.2fb778","item":"ns=4;s=|var|CPX-E-CEC-C1-PN.Application.G.In.p.Status.Busy","datatype":"Boolean","value":"","name":"in.p.Status.Busy","x":303,"y":520,"wires":[["25bad1b1.8081ae"]]},{"id":"e5108a80.1631a8","type":"OpcUa-Item","z":"ce2f9a7e.2fb778","item":"ns=4;s=|var|CPX-E-CEC-C1-PN.Application.G.In.p.Status.Ready","datatype":"Boolean","value":"","name":"in.p.Status.Ready","x":314,"y":559,"wires":[["25bad1b1.8081ae"]]},{"id":"9bc99964.073928","type":"comment","z":"ce2f9a7e.2fb778","name":"Read values from OPC Server (Test Capstation 192.168.2.27)","info":"","x":420,"y":340,"wires":[]},{"id":"979b47cb.ca4aa8","type":"comment","z":"ce2f9a7e.2fb778","name":"Write values on OPC Server (Test Capstation 192.168.2.27)","info":"","x":300,"y":1000,"wires":[]},{"id":"75c70eff.63e08","type":"function","z":"ce2f9a7e.2fb778","name":"set messages","func":"switch (msg.browseName) {\n    case \"in.p.ActionId\":\n     return [msg,null,null,null,null,null];\n     \n    case \"in.p.Data[0]\" :\n      return [null,msg,null,null,null,null];\n      \n    case \"in.p.Data[1]\" :\n      return [null,null,msg,null,null,null];\n       \n    case \"in.p.Status.Busy\" :\n        msg.color = (msg.payload === true)?\"lime\":\"red\";\n      return [null,null,null,msg,null,null];\n        \n    case \"in.p.Status.Ready\" :\n        msg.color = (msg.payload === true)?\"lime\":\"red\";\n      return [null,null,null,null,msg,null];   \n      \n    case \"in.p.Status.Error\" :\n        msg.color = (msg.payload === true)?\"lime\":\"red\";\n      return [null,null,null,null,null,msg]; \n\n    case \"Basic.p.ActionId\":\n     return [null,null,null,null,null,null,msg,null,null]; \n     \n    case \"Basic.p.Data[0]\" :\n      return [null,null,null,null,null,null,null,msg,null];\n      \n    case \"Basic.p.Data[1]\" :\n      return [null,null,null,null,null,null,null,null,msg];\n        \n    default:\n        return [null,null,null,null,null,null,null,null,null];\n}\n\n\n\n","outputs":9,"noerr":0,"x":980,"y":480,"wires":[["fed77e3e.cccc6"],["2e6f49e3.1ea266"],["cebfc806.3c96d8"],["2c86f716.598658"],["9ae38071.d770f"],["4e6e1123.e627b"],["4589646f.7e426c"],["fc670b1a.3241a8"],["90598c53.df264"]]},{"id":"7883455f.45415c","type":"OpcUa-Item","z":"ce2f9a7e.2fb778","item":"ns=4;s=|var|CPX-E-CEC-C1-PN.Application.G.In.p.Status.Error","datatype":"Boolean","value":"","name":"in.p.Status.Error","x":307,"y":596,"wires":[["25bad1b1.8081ae"]]},{"id":"adc93ccb.ca542","type":"comment","z":"ce2f9a7e.2fb778","name":"CS: Basic Control","info":"","x":159,"y":1034.9999799728394,"wires":[]},{"id":"1d3d3783.9e08f8","type":"OpcUa-Client","z":"ce2f9a7e.2fb778","endpoint":"22bafceb.b85514","action":"write","time":"1","timeUnit":"s","name":"Client Write","x":1090,"y":1440,"wires":[[]]},{"id":"16963499.525c4b","type":"OpcUa-Item","z":"ce2f9a7e.2fb778","item":"ns=4;s=|var|CPX-E-CEC-C1-PN.Application.G.Basic.p.ActionId","datatype":"UInt16","value":"","name":"Basic.p.ActionId","x":639,"y":1180,"wires":[["a033de5e.def96"]]},{"id":"d3d960b7.e0717","type":"OpcUa-Item","z":"ce2f9a7e.2fb778","item":"ns=4;s=|var|CPX-E-CEC-C1-PN.Application.G.Basic.p.Data[0]","datatype":"UInt16","value":"","name":"Basic.p.Data[0]","x":638,"y":1210,"wires":[["a033de5e.def96"]]},{"id":"8c27e55f.97c8f8","type":"OpcUa-Item","z":"ce2f9a7e.2fb778","item":"ns=4;s=|var|CPX-E-CEC-C1-PN.Application.G.Basic.p.Data[1]","datatype":"UInt16","value":"","name":"Basic.p.Data[1]","x":641,"y":1241,"wires":[["a033de5e.def96"]]},{"id":"6bd1b866.1f7758","type":"function","z":"ce2f9a7e.2fb778","name":"set messages","func":"    msg  = { payload: 10 };\nvar msg1 = { payload: 3 };\nvar msg2 = { payload: 0 };\nvar msg3 = { payload: 1 };\nvar msg4 = { payload: 0 };\n\nreturn [ msg, msg1, msg2, msg3 , msg4 ];\n\n\n\n\n\n\n","outputs":6,"noerr":0,"x":360,"y":1100,"wires":[["16963499.525c4b"],["d3d960b7.e0717"],["8c27e55f.97c8f8"],["2e748432.28722c"],[],[]]},{"id":"c3ae49c5.18eb58","type":"function","z":"ce2f9a7e.2fb778","name":"set messages","func":"    msg  = { payload: 301 };\nvar msg1 = { payload: 2 };\nvar msg2 = { payload: 0 };\nvar msg3 = { payload: 1 };\nvar msg4 = { payload: 0 };\n\nreturn [ msg, msg1, msg2, msg3 , msg4 ];\n\n\n\n\n\n\n","outputs":6,"noerr":0,"x":340,"y":1780,"wires":[["91dae979.2bdd18"],["39d1f42b.ab838c"],["e2c9fc33.759fb"],["e239bc9c.15fb1"],[],[]]},{"id":"e2c9fc33.759fb","type":"OpcUa-Item","z":"ce2f9a7e.2fb778","item":"ns=4;s=|var|CPX-E-CEC-C1-PN.Application.G.In.p.Data[1]","datatype":"UInt16","value":"","name":"in.p.Data[1]","x":603,"y":1926,"wires":[["a033de5e.def96"]]},{"id":"39d1f42b.ab838c","type":"OpcUa-Item","z":"ce2f9a7e.2fb778","item":"ns=4;s=|var|CPX-E-CEC-C1-PN.Application.G.In.p.Data[0]","datatype":"UInt16","value":"","name":"in.p.Data[0]","x":600,"y":1895,"wires":[["a033de5e.def96"]]},{"id":"91dae979.2bdd18","type":"OpcUa-Item","z":"ce2f9a7e.2fb778","item":"ns=4;s=|var|CPX-E-CEC-C1-PN.Application.G.In.p.ActionId","datatype":"UInt16","value":"","name":"in.p.ActionId","x":602,"y":1865,"wires":[["a033de5e.def96"]]},{"id":"e2e11cb8.efc2e","type":"function","z":"ce2f9a7e.2fb778","name":"set messages","func":"    msg  = { payload: 302 };\nvar msg1 = { payload: 2 };\nvar msg2 = { payload: 1 };\nvar msg3 = { payload: 1 };\nvar msg4 = { payload: 0 };\n\nreturn [ msg, msg1, msg2, msg3 , msg4 ];\n\n\n\n\n\n\n","outputs":6,"noerr":0,"x":348,"y":1920,"wires":[["91dae979.2bdd18"],["39d1f42b.ab838c"],["e2c9fc33.759fb"],["e239bc9c.15fb1"],[],[]]},{"id":"a255b827.ac2f18","type":"function","z":"ce2f9a7e.2fb778","name":"set messages","func":"    msg  = { payload: 302 };\nvar msg1 = { payload: 3 };\nvar msg2 = { payload: 1 };\nvar msg3 = { payload: 1 };\nvar msg4 = { payload: 0 };\n\nreturn [ msg, msg1, msg2, msg3 , msg4 ];\n\n\n\n\n\n\n","outputs":6,"noerr":0,"x":342,"y":2070,"wires":[["91dae979.2bdd18"],["39d1f42b.ab838c"],["e2c9fc33.759fb"],["e239bc9c.15fb1"],[],[]]},{"id":"6d0d6d12.19ac14","type":"function","z":"ce2f9a7e.2fb778","name":"set messages","func":"    msg  = { payload: 300 };\nvar msg1 = { payload: 0 };\nvar msg2 = { payload: 0 };\nvar msg3 = { payload: 1 };\nvar msg4 = { payload: 0 };\n\nreturn [ msg, msg1, msg2, msg3 , msg4 ];\n\n\n\n\n\n\n","outputs":6,"noerr":0,"x":333,"y":2186,"wires":[["91dae979.2bdd18"],["39d1f42b.ab838c"],["e2c9fc33.759fb"],["e239bc9c.15fb1"],[],[]]},{"id":"91d69d7e.9dbe4","type":"comment","z":"ce2f9a7e.2fb778","name":"Configuration","info":"","x":90,"y":40,"wires":[]},{"id":"a61e51de.1af32","type":"ui_button","z":"ce2f9a7e.2fb778","name":"","group":"5dca168.61b7be8","order":5,"width":0,"height":0,"passthru":false,"label":"set machine 2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"10","payloadType":"num","topic":"","x":160,"y":1100,"wires":[["6bd1b866.1f7758"]]},{"id":"483521c1.7e497","type":"ui_button","z":"ce2f9a7e.2fb778","name":"","group":"920426e5.85c688","order":7,"width":0,"height":0,"passthru":false,"label":"Mount Cap","tooltip":"","color":"","bgcolor":"","icon":"","payload":"10","payloadType":"num","topic":"","x":133,"y":1761,"wires":[["c3ae49c5.18eb58"]]},{"id":"ba19d946.032408","type":"ui_button","z":"ce2f9a7e.2fb778","name":"","group":"920426e5.85c688","order":8,"width":0,"height":0,"passthru":false,"label":"Move Band Until Mid","tooltip":"","color":"","bgcolor":"","icon":"","payload":"10","payloadType":"num","topic":"","x":133,"y":1919,"wires":[["e2e11cb8.efc2e"]]},{"id":"723ede75.0a781","type":"ui_button","z":"ce2f9a7e.2fb778","name":"","group":"920426e5.85c688","order":9,"width":0,"height":0,"passthru":false,"label":"Move Band Until Out","tooltip":"","color":"","bgcolor":"","icon":"","payload":"10","payloadType":"num","topic":"","x":120,"y":2072,"wires":[["a255b827.ac2f18"]]},{"id":"4cd8dbde.422584","type":"ui_button","z":"ce2f9a7e.2fb778","name":"","group":"920426e5.85c688","order":10,"width":0,"height":0,"passthru":false,"label":"Reset ","tooltip":"","color":"","bgcolor":"","icon":"","payload":"10","payloadType":"num","topic":"","x":83,"y":2186,"wires":[["6d0d6d12.19ac14"]]},{"id":"fed77e3e.cccc6","type":"ui_text","z":"ce2f9a7e.2fb778","group":"920426e5.85c688","order":1,"width":0,"height":0,"name":"","label":"Action ID [Word 0]","format":"{{msg.payload}}","layout":"row-spread","x":1210,"y":340,"wires":[]},{"id":"2e6f49e3.1ea266","type":"ui_text","z":"ce2f9a7e.2fb778","group":"920426e5.85c688","order":2,"width":0,"height":0,"name":"","label":"Data[0] [Word 1]","format":"{{msg.payload}}","layout":"row-spread","x":1201,"y":375,"wires":[]},{"id":"cebfc806.3c96d8","type":"ui_text","z":"ce2f9a7e.2fb778","group":"920426e5.85c688","order":3,"width":0,"height":0,"name":"","label":"Data[1] [Word 1]","format":"{{msg.payload}}","layout":"row-spread","x":1201,"y":412,"wires":[]},{"id":"2c86f716.598658","type":"ui_text","z":"ce2f9a7e.2fb778","group":"920426e5.85c688","order":5,"width":"3","height":"1","name":"","label":"Status Busy","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"col-center","x":1195,"y":447,"wires":[]},{"id":"9ae38071.d770f","type":"ui_text","z":"ce2f9a7e.2fb778","group":"920426e5.85c688","order":4,"width":"3","height":"1","name":"","label":"Status Ready","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"col-center","x":1204,"y":481,"wires":[]},{"id":"4e6e1123.e627b","type":"ui_text","z":"ce2f9a7e.2fb778","group":"920426e5.85c688","order":6,"width":"3","height":"1","name":"","label":"Status Error","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"col-center","x":1196,"y":515,"wires":[]},{"id":"f9c6caa7.91e958","type":"change","z":"ce2f9a7e.2fb778","name":"set device to CPXE","rules":[{"t":"set","p":"deviceMPS","pt":"flow","to":"CPX-E-CEC-C1-PN","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":80,"wires":[[]]},{"id":"b1cde5d0.4a0418","type":"OpcUa-Item","z":"ce2f9a7e.2fb778","item":"ns=4;s=|var|CPX-E-CEC-C1-PN.Application.G.In.p.Status.Enable","datatype":"Boolean","value":"","name":"in.p.Status.Enable","x":313,"y":635,"wires":[["25bad1b1.8081ae"]]},{"id":"2e748432.28722c","type":"OpcUa-Item","z":"ce2f9a7e.2fb778","item":"ns=4;s=|var|CPX-E-CEC-C1-PN.Application.G.Basic.p.Status.Enable","datatype":"Boolean","value":"","name":"Basic.p.Status.Enable","x":661,"y":1269.0000200271606,"wires":[["a033de5e.def96"]]},{"id":"e239bc9c.15fb1","type":"OpcUa-Item","z":"ce2f9a7e.2fb778","item":"ns=4;s=|var|CPX-E-CEC-C1-PN.Application.G.In.p.Status.Enable","datatype":"Boolean","value":"","name":"in.p.Status.Enable","x":624,"y":1959.0000200271606,"wires":[["a033de5e.def96"]]},{"id":"c9c719ac.d8d668","type":"ui_button","z":"ce2f9a7e.2fb778","name":"","group":"e1394f65.4c671","order":5,"width":0,"height":0,"passthru":false,"label":"change MPS Device to WIN","tooltip":"","color":"","bgcolor":"","icon":"","payload":"10","payloadType":"num","topic":"","x":140,"y":180,"wires":[["a92bea6b.1bf9b8"]]},{"id":"b3a9c414.a4f998","type":"function","z":"ce2f9a7e.2fb778","name":"set messages","func":"    msg  = { payload: 23 };\nvar msg1 = { payload: 1 };\nvar msg2 = { payload: 0 };\nvar msg3 = { payload: 1 };\nvar msg4 = { payload: 0 };\n\nreturn [ msg, msg1, msg2, msg3 , msg4 ];\n\n\n\n\n\n\n","outputs":6,"noerr":0,"x":360,"y":1200,"wires":[["16963499.525c4b"],["d3d960b7.e0717"],["8c27e55f.97c8f8"],["2e748432.28722c"],[],[]]},{"id":"c057f0e8.89c99","type":"comment","z":"ce2f9a7e.2fb778","name":"CS: Station Control","info":"","x":183,"y":1666,"wires":[]},{"id":"94904e24.58f18","type":"function","z":"ce2f9a7e.2fb778","name":"set messages","func":"    msg  = { payload: 23 };\nvar msg1 = { payload: 0 };\nvar msg2 = { payload: 0 };\nvar msg3 = { payload: 1 };\nvar msg4 = { payload: 0 };\n\nreturn [ msg, msg1, msg2, msg3 , msg4 ];\n\n\n\n\n\n\n","outputs":6,"noerr":0,"x":361.99999237060547,"y":1299.6665687561035,"wires":[["16963499.525c4b"],["d3d960b7.e0717"],["8c27e55f.97c8f8"],["2e748432.28722c"],[],[]]},{"id":"4fc159c3.0e9358","type":"ui_button","z":"ce2f9a7e.2fb778","name":"","group":"5dca168.61b7be8","order":5,"width":0,"height":0,"passthru":false,"label":"Set Lamp green ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"10","payloadType":"num","topic":"","x":140,"y":1200,"wires":[["b3a9c414.a4f998"]]},{"id":"7d667376.62b44c","type":"ui_button","z":"ce2f9a7e.2fb778","name":"","group":"5dca168.61b7be8","order":5,"width":0,"height":0,"passthru":false,"label":"Set Lamp green OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"10","payloadType":"num","topic":"","x":140,"y":1300,"wires":[["94904e24.58f18"]]},{"id":"25bad1b1.8081ae","type":"change","z":"ce2f9a7e.2fb778","name":"","rules":[{"t":"change","p":"topic","pt":"msg","from":"CPX-E-CEC-C1-PN","fromt":"str","to":"deviceMPS","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":480,"wires":[["5bb1a4da.1c131c"]]},{"id":"a92bea6b.1bf9b8","type":"change","z":"ce2f9a7e.2fb778","name":"set device to Win","rules":[{"t":"set","p":"deviceMPS","pt":"flow","to":"CODESYS Control Win V3 x64","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":180,"wires":[["ec23611c.88ec"]]},{"id":"b1eba746.550ea8","type":"inject","z":"ce2f9a7e.2fb778","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":80,"wires":[["f9c6caa7.91e958"]]},{"id":"312b2d62.57a332","type":"link in","z":"ce2f9a7e.2fb778","name":"","links":["ec23611c.88ec"],"x":95,"y":520,"wires":[["e9052838.7555a8","61e0ae0a.18c3c","11a9d0be.188a2f","b88a07af.591678","e5108a80.1631a8","7883455f.45415c","b1cde5d0.4a0418","9c021857.47ab48","5fc73871.72dca8","61211546.67880c"]]},{"id":"ec23611c.88ec","type":"link out","z":"ce2f9a7e.2fb778","name":"","links":["312b2d62.57a332"],"x":575,"y":180,"wires":[]},{"id":"a033de5e.def96","type":"change","z":"ce2f9a7e.2fb778","name":"","rules":[{"t":"change","p":"topic","pt":"msg","from":"CPX-E-CEC-C1-PN","fromt":"str","to":"deviceMPS","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":1440,"wires":[["1d3d3783.9e08f8"]]},{"id":"689be173.47116","type":"ui_button","z":"ce2f9a7e.2fb778","name":"","group":"e1394f65.4c671","order":5,"width":0,"height":0,"passthru":false,"label":"change MPS Device to CPXE","tooltip":"","color":"","bgcolor":"","icon":"","payload":"10","payloadType":"num","topic":"","x":150,"y":120,"wires":[["f9c6caa7.91e958"]]},{"id":"ff0fc664.701878","type":"comment","z":"ce2f9a7e.2fb778","name":"CHANGE OPC Server!","info":"","x":780,"y":440,"wires":[]},{"id":"d7373170.cfc9","type":"comment","z":"ce2f9a7e.2fb778","name":"CHANGE OPC Server!","info":"","x":1120,"y":1400,"wires":[]},{"id":"c2ec3fce.1d9e3","type":"function","z":"ce2f9a7e.2fb778","name":"set messages","func":"    msg  = { payload: 22 };\nvar msg1 = { payload: 2 };\nvar msg2 = { payload: 5 };\nvar msg3 = { payload: 1 };\nvar msg4 = { payload: 0 };\n\nreturn [ msg, msg1, msg2, msg3 , msg4 ];\n\n\n\n\n\n\n","outputs":6,"noerr":0,"x":360,"y":1400,"wires":[["16963499.525c4b"],["d3d960b7.e0717"],["8c27e55f.97c8f8"],["2e748432.28722c"],[],[]]},{"id":"fa6386d1.9cdbd8","type":"function","z":"ce2f9a7e.2fb778","name":"set messages","func":"    msg  = { payload: 20 };\nvar msg1 = { payload: 0 };\nvar msg2 = { payload: 0 };\nvar msg3 = { payload: 1 };\nvar msg4 = { payload: 0 };\n\nreturn [ msg, msg1, msg2, msg3 , msg4 ];\n\n\n\n\n\n\n","outputs":6,"noerr":0,"x":361.99999237060547,"y":1499.6665687561035,"wires":[["16963499.525c4b"],["d3d960b7.e0717"],["8c27e55f.97c8f8"],["2e748432.28722c"],[],[]]},{"id":"4f49679.f171998","type":"ui_button","z":"ce2f9a7e.2fb778","name":"","group":"5dca168.61b7be8","order":5,"width":0,"height":0,"passthru":false,"label":"Set Lamp yellow Blink 10s","tooltip":"","color":"","bgcolor":"","icon":"","payload":"10","payloadType":"num","topic":"","x":150,"y":1400,"wires":[["c2ec3fce.1d9e3"]]},{"id":"43b6697a.fe56c8","type":"ui_button","z":"ce2f9a7e.2fb778","name":"","group":"5dca168.61b7be8","order":5,"width":0,"height":0,"passthru":false,"label":"Reset Lamps","tooltip":"","color":"","bgcolor":"","icon":"","payload":"10","payloadType":"num","topic":"","x":110,"y":1500,"wires":[["fa6386d1.9cdbd8"]]},{"id":"9c021857.47ab48","type":"OpcUa-Item","z":"ce2f9a7e.2fb778","item":"ns=4;s=|var|CPX-E-CEC-C1-PN.Application.G.Basic.p.ActionId","datatype":"UInt16","value":"","name":"Basic.p.ActionId","x":300,"y":740,"wires":[["25bad1b1.8081ae"]]},{"id":"5fc73871.72dca8","type":"OpcUa-Item","z":"ce2f9a7e.2fb778","item":"ns=4;s=|var|CPX-E-CEC-C1-PN.Application.G.Basic.p.Data[0]","datatype":"UInt16","value":"","name":"Basic.p.Data[0]","x":299,"y":770,"wires":[["25bad1b1.8081ae"]]},{"id":"61211546.67880c","type":"OpcUa-Item","z":"ce2f9a7e.2fb778","item":"ns=4;s=|var|CPX-E-CEC-C1-PN.Application.G.Basic.p.Data[1]","datatype":"UInt16","value":"","name":"Basic.p.Data[1]","x":302,"y":801,"wires":[["25bad1b1.8081ae"]]},{"id":"4589646f.7e426c","type":"ui_text","z":"ce2f9a7e.2fb778","group":"5dca168.61b7be8","order":1,"width":0,"height":0,"name":"","label":"Action ID [Word 0]","format":"{{msg.payload}}","layout":"row-spread","x":1210,"y":580,"wires":[]},{"id":"fc670b1a.3241a8","type":"ui_text","z":"ce2f9a7e.2fb778","group":"5dca168.61b7be8","order":2,"width":0,"height":0,"name":"","label":"Data[0] [Word 1]","format":"{{msg.payload}}","layout":"row-spread","x":1201,"y":617,"wires":[]},{"id":"90598c53.df264","type":"ui_text","z":"ce2f9a7e.2fb778","group":"5dca168.61b7be8","order":3,"width":0,"height":0,"name":"","label":"Data[1] [Word 1]","format":"{{msg.payload}}","layout":"row-spread","x":1201,"y":654,"wires":[]},{"id":"22bafceb.b85514","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://192.168.2.100:4840","secpol":"None","secmode":"NONE","login":false},{"id":"5dca168.61b7be8","type":"ui_group","z":"","name":"MPS - Basic Control [Basic]","tab":"6884a481.a78bfc","disp":true,"width":"6","collapse":false},{"id":"920426e5.85c688","type":"ui_group","z":"","name":"MPS - Station Control [IN]","tab":"6884a481.a78bfc","disp":true,"width":"6","collapse":false},{"id":"e1394f65.4c671","type":"ui_group","z":"","name":"Configuration","tab":"6884a481.a78bfc","disp":true,"width":"6","collapse":false},{"id":"6884a481.a78bfc","type":"ui_tab","z":"","name":"Refbox SIm OPC-UA","icon":"dashboard"}]