NodeRED_RefboxSim_OPC_UA.txt
[{"id":"a293dda6.52c98","type":"tab","label":"MPSSim","disabled":false,"info":""},{"id":"5533ff8e.1d81b","type":"OpcUa-Client","z":"a293dda6.52c98","endpoint":"9e598e43.49897","action":"subscribe","time":"100","timeUnit":"ms","name":"Client Subscribe","x":760,"y":480,"wires":[["d8faac7.30dfd5"]]},{"id":"ac574111.2b378","type":"OpcUa-Item","z":"a293dda6.52c98","item":"ns=4;s=|var|CPX-E-CEC-C1-PN.Application.G.In.p.ActionId","datatype":"UInt16","value":"action","name":"in.p.ActionId","x":290,"y":400,"wires":[["4f9446f8.947a38"]]},{"id":"ac5536aa.b79418","type":"inject","z":"a293dda6.52c98","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":423,"wires":[["ac574111.2b378","565746ad.540b28","9bfee4c4.5dd4b8","103067bc.2315d8","b2f82672.bac9a8","7b73d68f.ef0b48","9690b89b.ca23d8","2b35cab8.74a9e6","8d6bed0c.8d05e","4af773da.07175c"]]},{"id":"565746ad.540b28","type":"OpcUa-Item","z":"a293dda6.52c98","item":"ns=4;s=|var|CPX-E-CEC-C1-PN.Application.G.In.p.Data[0]","datatype":"UInt16","value":"","name":"in.p.Data[0]","x":291,"y":443,"wires":[["4f9446f8.947a38"]]},{"id":"9bfee4c4.5dd4b8","type":"OpcUa-Item","z":"a293dda6.52c98","item":"ns=4;s=|var|CPX-E-CEC-C1-PN.Application.G.In.p.Data[1]","datatype":"UInt16","value":"","name":"in.p.Data[1]","x":291,"y":482,"wires":[["4f9446f8.947a38"]]},{"id":"103067bc.2315d8","type":"OpcUa-Item","z":"a293dda6.52c98","item":"ns=4;s=|var|CPX-E-CEC-C1-PN.Application.G.In.p.Status.Busy","datatype":"Boolean","value":"","name":"in.p.Status.Busy","x":303,"y":520,"wires":[["4f9446f8.947a38"]]},{"id":"b2f82672.bac9a8","type":"OpcUa-Item","z":"a293dda6.52c98","item":"ns=4;s=|var|CPX-E-CEC-C1-PN.Application.G.In.p.Status.Ready","datatype":"Boolean","value":"","name":"in.p.Status.Ready","x":314,"y":559,"wires":[["4f9446f8.947a38"]]},{"id":"5fd9f7fa.c3f4f8","type":"comment","z":"a293dda6.52c98","name":"Read values from OPC Server (Test Capstation 192.168.2.27)","info":"","x":420,"y":340,"wires":[]},{"id":"31495db9.a0ac02","type":"comment","z":"a293dda6.52c98","name":"Write values on OPC Server (Test Capstation 192.168.2.27)","info":"","x":300,"y":1000,"wires":[]},{"id":"d8faac7.30dfd5","type":"function","z":"a293dda6.52c98","name":"set messages","func":"switch (msg.browseName) {\n    case \"in.p.ActionId\":\n     return [msg,null,null,null,null,null];\n     \n    case \"in.p.Data[0]\" :\n      return [null,msg,null,null,null,null];\n      \n    case \"in.p.Data[1]\" :\n      return [null,null,msg,null,null,null];\n       \n    case \"in.p.Status.Busy\" :\n        msg.color = (msg.payload === true)?\"lime\":\"red\";\n      return [null,null,null,msg,null,null];\n        \n    case \"in.p.Status.Ready\" :\n        msg.color = (msg.payload === true)?\"lime\":\"red\";\n      return [null,null,null,null,msg,null];   \n      \n    case \"in.p.Status.Error\" :\n        msg.color = (msg.payload === true)?\"lime\":\"red\";\n      return [null,null,null,null,null,msg]; \n\n    case \"Basic.p.ActionId\":\n     return [null,null,null,null,null,null,msg,null,null]; \n     \n    case \"Basic.p.Data[0]\" :\n      return [null,null,null,null,null,null,null,msg,null];\n      \n    case \"Basic.p.Data[1]\" :\n      return [null,null,null,null,null,null,null,null,msg];\n\n    case \"in.p.SlideCnt\" :\n      return [null,null,null,null,null,null,null,null,null,msg];\n      \n    case \"in.p.BarCode\" :\n      return [null,null,null,null,null,null,null,null,null,null,msg];\n        \n    default:\n        return [null,null,null,null,null,null,null,null,null];\n}\n\n\n\n","outputs":11,"noerr":0,"x":980,"y":480,"wires":[["ca1f252b.856578"],["bb1b164b.1b4968"],["5188aa41.c7ba64"],["caed1a41.32b908"],["86ed0c3b.8af66"],["bd71a5e3.25b9c8"],["8fb8ee90.b86e4"],["100a05ab.7beaba"],["bb963448.8d8b18"],["c89448c6.47c538"],["fffd3f19.fef7"]]},{"id":"7b73d68f.ef0b48","type":"OpcUa-Item","z":"a293dda6.52c98","item":"ns=4;s=|var|CPX-E-CEC-C1-PN.Application.G.In.p.Status.Error","datatype":"Boolean","value":"","name":"in.p.Status.Error","x":307,"y":596,"wires":[["4f9446f8.947a38"]]},{"id":"97107fc4.41615","type":"comment","z":"a293dda6.52c98","name":"CS: Basic Control","info":"","x":159,"y":1034.9999799728394,"wires":[]},{"id":"12d5c1fe.59677e","type":"OpcUa-Client","z":"a293dda6.52c98","endpoint":"9e598e43.49897","action":"write","time":"1","timeUnit":"s","name":"Client Write","x":1090,"y":1440,"wires":[[]]},{"id":"ce45d497.320ab8","type":"OpcUa-Item","z":"a293dda6.52c98","item":"ns=4;s=|var|CPX-E-CEC-C1-PN.Application.G.Basic.p.ActionId","datatype":"UInt16","value":"","name":"Basic.p.ActionId","x":639,"y":1180,"wires":[["3a6ebd84.5a11d2"]]},{"id":"50177319.bdf89c","type":"OpcUa-Item","z":"a293dda6.52c98","item":"ns=4;s=|var|CPX-E-CEC-C1-PN.Application.G.Basic.p.Data[0]","datatype":"UInt16","value":"","name":"Basic.p.Data[0]","x":638,"y":1210,"wires":[["3a6ebd84.5a11d2"]]},{"id":"ba1d8a48.e4a868","type":"OpcUa-Item","z":"a293dda6.52c98","item":"ns=4;s=|var|CPX-E-CEC-C1-PN.Application.G.Basic.p.Data[1]","datatype":"UInt16","value":"","name":"Basic.p.Data[1]","x":641,"y":1241,"wires":[["3a6ebd84.5a11d2"]]},{"id":"400d0954.cefd48","type":"function","z":"a293dda6.52c98","name":"set messages","func":"    msg  = { payload: 10 };\nvar msg1 = { payload: 3 };\nvar msg2 = { payload: 0 };\nvar msg3 = { payload: 1 };\nvar msg4 = { payload: 0 };\n\nreturn [ msg, msg1, msg2, msg3 , msg4 ];\n\n\n\n\n\n\n","outputs":6,"noerr":0,"x":360,"y":1100,"wires":[["ce45d497.320ab8"],["50177319.bdf89c"],["ba1d8a48.e4a868"],["9ab920d5.56dc4"],[],[]]},{"id":"1a48f9c1.95c686","type":"function","z":"a293dda6.52c98","name":"set messages","func":"    msg  = { payload: 301 };\nvar msg1 = { payload: 2 };\nvar msg2 = { payload: 0 };\nvar msg3 = { payload: 1 };\nvar msg4 = { payload: 0 };\n\nreturn [ msg, msg1, msg2, msg3 , msg4 ];\n\n\n\n\n\n\n","outputs":6,"noerr":0,"x":340,"y":1780,"wires":[["f6ac9ba0.fc3148"],["55870a79.e4cfe4"],["7352ec52.bb10d4"],["fcc735e1.e08ff8"],[],[]]},{"id":"7352ec52.bb10d4","type":"OpcUa-Item","z":"a293dda6.52c98","item":"ns=4;s=|var|CPX-E-CEC-C1-PN.Application.G.In.p.Data[1]","datatype":"UInt16","value":"","name":"in.p.Data[1]","x":603,"y":1926,"wires":[["3a6ebd84.5a11d2"]]},{"id":"55870a79.e4cfe4","type":"OpcUa-Item","z":"a293dda6.52c98","item":"ns=4;s=|var|CPX-E-CEC-C1-PN.Application.G.In.p.Data[0]","datatype":"UInt16","value":"","name":"in.p.Data[0]","x":600,"y":1895,"wires":[["3a6ebd84.5a11d2"]]},{"id":"f6ac9ba0.fc3148","type":"OpcUa-Item","z":"a293dda6.52c98","item":"ns=4;s=|var|CPX-E-CEC-C1-PN.Application.G.In.p.ActionId","datatype":"UInt16","value":"","name":"in.p.ActionId","x":602,"y":1865,"wires":[["3a6ebd84.5a11d2"]]},{"id":"d6994aeb.8e7be8","type":"function","z":"a293dda6.52c98","name":"set messages","func":"    msg  = { payload: 302 };\nvar msg1 = { payload: 2 };\nvar msg2 = { payload: 1 };\nvar msg3 = { payload: 1 };\nvar msg4 = { payload: 0 };\n\nreturn [ msg, msg1, msg2, msg3 , msg4 ];\n\n\n\n\n\n\n","outputs":6,"noerr":0,"x":348,"y":1920,"wires":[["f6ac9ba0.fc3148"],["55870a79.e4cfe4"],["7352ec52.bb10d4"],["fcc735e1.e08ff8"],[],[]]},{"id":"91839563.db2468","type":"function","z":"a293dda6.52c98","name":"set messages","func":"    msg  = { payload: 302 };\nvar msg1 = { payload: 3 };\nvar msg2 = { payload: 1 };\nvar msg3 = { payload: 1 };\nvar msg4 = { payload: 0 };\n\nreturn [ msg, msg1, msg2, msg3 , msg4 ];\n\n\n\n\n\n\n","outputs":6,"noerr":0,"x":342,"y":2070,"wires":[["f6ac9ba0.fc3148"],["55870a79.e4cfe4"],["7352ec52.bb10d4"],["fcc735e1.e08ff8"],[],[]]},{"id":"6de31856.85e5c8","type":"function","z":"a293dda6.52c98","name":"set messages","func":"    msg  = { payload: 300 };\nvar msg1 = { payload: 0 };\nvar msg2 = { payload: 0 };\nvar msg3 = { payload: 1 };\nvar msg4 = { payload: 0 };\n\nreturn [ msg, msg1, msg2, msg3 , msg4 ];\n\n\n\n\n\n\n","outputs":6,"noerr":0,"x":333,"y":2186,"wires":[["f6ac9ba0.fc3148"],["55870a79.e4cfe4"],["7352ec52.bb10d4"],["fcc735e1.e08ff8"],[],[]]},{"id":"7d996704.758ec8","type":"comment","z":"a293dda6.52c98","name":"Configuration","info":"","x":90,"y":40,"wires":[]},{"id":"648f76ea.8573b8","type":"ui_button","z":"a293dda6.52c98","name":"","group":"37eca3f3.d9bb3c","order":5,"width":0,"height":0,"passthru":false,"label":"set machine 2","color":"","bgcolor":"","icon":"","payload":"10","payloadType":"num","topic":"","x":160,"y":1100,"wires":[["400d0954.cefd48"]]},{"id":"cf6f82c.b4d3a8","type":"ui_button","z":"a293dda6.52c98","name":"","group":"6864d7e5.8b6ab8","order":9,"width":0,"height":0,"passthru":false,"label":"Mount Cap","color":"","bgcolor":"","icon":"","payload":"10","payloadType":"num","topic":"","x":133,"y":1761,"wires":[["1a48f9c1.95c686"]]},{"id":"4a607e44.e928f","type":"ui_button","z":"a293dda6.52c98","name":"","group":"6864d7e5.8b6ab8","order":10,"width":0,"height":0,"passthru":false,"label":"Move Band Until Mid","color":"","bgcolor":"","icon":"","payload":"10","payloadType":"num","topic":"","x":133,"y":1919,"wires":[["d6994aeb.8e7be8"]]},{"id":"bd7869b.766fc98","type":"ui_button","z":"a293dda6.52c98","name":"","group":"6864d7e5.8b6ab8","order":11,"width":0,"height":0,"passthru":false,"label":"Move Band Until Out","color":"","bgcolor":"","icon":"","payload":"10","payloadType":"num","topic":"","x":120,"y":2072,"wires":[["91839563.db2468"]]},{"id":"546f4e2c.5cbd","type":"ui_button","z":"a293dda6.52c98","name":"","group":"6864d7e5.8b6ab8","order":12,"width":0,"height":0,"passthru":false,"label":"Reset ","color":"","bgcolor":"","icon":"","payload":"10","payloadType":"num","topic":"","x":83,"y":2186,"wires":[["6de31856.85e5c8"]]},{"id":"ca1f252b.856578","type":"ui_text","z":"a293dda6.52c98","group":"6864d7e5.8b6ab8","order":1,"width":0,"height":0,"name":"","label":"Action ID [Word 0]","format":"{{msg.payload}}","layout":"row-spread","x":1210,"y":340,"wires":[]},{"id":"bb1b164b.1b4968","type":"ui_text","z":"a293dda6.52c98","group":"6864d7e5.8b6ab8","order":2,"width":0,"height":0,"name":"","label":"Data[0] [Word 1]","format":"{{msg.payload}}","layout":"row-spread","x":1201,"y":375,"wires":[]},{"id":"5188aa41.c7ba64","type":"ui_text","z":"a293dda6.52c98","group":"6864d7e5.8b6ab8","order":3,"width":0,"height":0,"name":"","label":"Data[1] [Word 1]","format":"{{msg.payload}}","layout":"row-spread","x":1201,"y":412,"wires":[]},{"id":"caed1a41.32b908","type":"ui_text","z":"a293dda6.52c98","group":"6864d7e5.8b6ab8","order":5,"width":"3","height":"1","name":"","label":"Status Busy","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"col-center","x":1195,"y":447,"wires":[]},{"id":"86ed0c3b.8af66","type":"ui_text","z":"a293dda6.52c98","group":"6864d7e5.8b6ab8","order":4,"width":"3","height":"1","name":"","label":"Status Ready","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"col-center","x":1204,"y":481,"wires":[]},{"id":"bd71a5e3.25b9c8","type":"ui_text","z":"a293dda6.52c98","group":"6864d7e5.8b6ab8","order":6,"width":"3","height":"1","name":"","label":"Status Error","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"col-center","x":1196,"y":515,"wires":[]},{"id":"66512abc.34ebd4","type":"change","z":"a293dda6.52c98","name":"set device to CPXE","rules":[{"t":"set","p":"deviceMPS","pt":"flow","to":"CPX-E-CEC-C1-PN","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":80,"wires":[[]]},{"id":"9690b89b.ca23d8","type":"OpcUa-Item","z":"a293dda6.52c98","item":"ns=4;s=|var|CPX-E-CEC-C1-PN.Application.G.In.p.Status.Enable","datatype":"Boolean","value":"","name":"in.p.Status.Enable","x":313,"y":635,"wires":[["4f9446f8.947a38"]]},{"id":"9ab920d5.56dc4","type":"OpcUa-Item","z":"a293dda6.52c98","item":"ns=4;s=|var|CPX-E-CEC-C1-PN.Application.G.Basic.p.Status.Enable","datatype":"Boolean","value":"","name":"Basic.p.Status.Enable","x":661,"y":1269.0000200271606,"wires":[["3a6ebd84.5a11d2"]]},{"id":"fcc735e1.e08ff8","type":"OpcUa-Item","z":"a293dda6.52c98","item":"ns=4;s=|var|CPX-E-CEC-C1-PN.Application.G.In.p.Status.Enable","datatype":"Boolean","value":"","name":"in.p.Status.Enable","x":624,"y":1959.0000200271606,"wires":[["3a6ebd84.5a11d2"]]},{"id":"159d6ce8.b0f833","type":"ui_button","z":"a293dda6.52c98","name":"","group":"e285877a.3933d8","order":5,"width":0,"height":0,"passthru":false,"label":"change MPS Device to WIN","color":"","bgcolor":"","icon":"","payload":"10","payloadType":"num","topic":"","x":140,"y":180,"wires":[["f1120980.eb5dc8"]]},{"id":"9a284ae7.4aa648","type":"function","z":"a293dda6.52c98","name":"set messages","func":"    msg  = { payload: 23 };\nvar msg1 = { payload: 1 };\nvar msg2 = { payload: 0 };\nvar msg3 = { payload: 1 };\nvar msg4 = { payload: 0 };\n\nreturn [ msg, msg1, msg2, msg3 , msg4 ];\n\n\n\n\n\n\n","outputs":6,"noerr":0,"x":360,"y":1200,"wires":[["ce45d497.320ab8"],["50177319.bdf89c"],["ba1d8a48.e4a868"],["9ab920d5.56dc4"],[],[]]},{"id":"b162ba7d.fe5448","type":"comment","z":"a293dda6.52c98","name":"CS: Station Control","info":"","x":183,"y":1666,"wires":[]},{"id":"2d978a0e.8d46a6","type":"function","z":"a293dda6.52c98","name":"set messages","func":"    msg  = { payload: 23 };\nvar msg1 = { payload: 0 };\nvar msg2 = { payload: 0 };\nvar msg3 = { payload: 1 };\nvar msg4 = { payload: 0 };\n\nreturn [ msg, msg1, msg2, msg3 , msg4 ];\n\n\n\n\n\n\n","outputs":6,"noerr":0,"x":361.99999237060547,"y":1299.6665687561035,"wires":[["ce45d497.320ab8"],["50177319.bdf89c"],["ba1d8a48.e4a868"],["9ab920d5.56dc4"],[],[]]},{"id":"4a8e3bad.abfd14","type":"ui_button","z":"a293dda6.52c98","name":"","group":"37eca3f3.d9bb3c","order":5,"width":0,"height":0,"passthru":false,"label":"Set Lamp green ON","color":"","bgcolor":"","icon":"","payload":"10","payloadType":"num","topic":"","x":140,"y":1200,"wires":[["9a284ae7.4aa648"]]},{"id":"7ee86034.64dbb","type":"ui_button","z":"a293dda6.52c98","name":"","group":"37eca3f3.d9bb3c","order":5,"width":0,"height":0,"passthru":false,"label":"Set Lamp green OFF","color":"","bgcolor":"","icon":"","payload":"10","payloadType":"num","topic":"","x":140,"y":1300,"wires":[["2d978a0e.8d46a6"]]},{"id":"4f9446f8.947a38","type":"change","z":"a293dda6.52c98","name":"","rules":[{"t":"change","p":"topic","pt":"msg","from":"CPX-E-CEC-C1-PN","fromt":"str","to":"deviceMPS","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":580,"wires":[["5533ff8e.1d81b"]]},{"id":"f1120980.eb5dc8","type":"change","z":"a293dda6.52c98","name":"set device to Win","rules":[{"t":"set","p":"deviceMPS","pt":"flow","to":"CODESYS Control Win V3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":180,"wires":[["7974680b.4ad1b8"]]},{"id":"fec69d38.81037","type":"inject","z":"a293dda6.52c98","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":80,"wires":[["66512abc.34ebd4"]]},{"id":"82d0e80b.6b69c8","type":"link in","z":"a293dda6.52c98","name":"","links":["7974680b.4ad1b8"],"x":95,"y":520,"wires":[["ac574111.2b378","565746ad.540b28","9bfee4c4.5dd4b8","103067bc.2315d8","b2f82672.bac9a8","7b73d68f.ef0b48","9690b89b.ca23d8","2b35cab8.74a9e6","8d6bed0c.8d05e","4af773da.07175c","d6f5753f.8505e8","7af9ee7c.53f3e"]]},{"id":"7974680b.4ad1b8","type":"link out","z":"a293dda6.52c98","name":"","links":["82d0e80b.6b69c8"],"x":575,"y":180,"wires":[]},{"id":"3a6ebd84.5a11d2","type":"change","z":"a293dda6.52c98","name":"","rules":[{"t":"change","p":"topic","pt":"msg","from":"CPX-E-CEC-C1-PN","fromt":"str","to":"deviceMPS","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":1440,"wires":[["12d5c1fe.59677e"]]},{"id":"667a024b.5b727c","type":"ui_button","z":"a293dda6.52c98","name":"","group":"e285877a.3933d8","order":5,"width":0,"height":0,"passthru":false,"label":"change MPS Device to CPXE","color":"","bgcolor":"","icon":"","payload":"10","payloadType":"num","topic":"","x":150,"y":120,"wires":[["66512abc.34ebd4"]]},{"id":"c26fd13d.3411f","type":"comment","z":"a293dda6.52c98","name":"CHANGE OPC Server!","info":"","x":780,"y":440,"wires":[]},{"id":"cf699ed7.28d59","type":"comment","z":"a293dda6.52c98","name":"CHANGE OPC Server!","info":"","x":1120,"y":1400,"wires":[]},{"id":"ad6fb341.26848","type":"function","z":"a293dda6.52c98","name":"set messages","func":"    msg  = { payload: 22 };\nvar msg1 = { payload: 2 };\nvar msg2 = { payload: 5 };\nvar msg3 = { payload: 1 };\nvar msg4 = { payload: 0 };\n\nreturn [ msg, msg1, msg2, msg3 , msg4 ];\n\n\n\n\n\n\n","outputs":6,"noerr":0,"x":360,"y":1400,"wires":[["ce45d497.320ab8"],["50177319.bdf89c"],["ba1d8a48.e4a868"],["9ab920d5.56dc4"],[],[]]},{"id":"6a0e0ca.4757ff4","type":"function","z":"a293dda6.52c98","name":"set messages","func":"    msg  = { payload: 20 };\nvar msg1 = { payload: 0 };\nvar msg2 = { payload: 0 };\nvar msg3 = { payload: 1 };\nvar msg4 = { payload: 0 };\n\nreturn [ msg, msg1, msg2, msg3 , msg4 ];\n\n\n\n\n\n\n","outputs":6,"noerr":0,"x":361.99999237060547,"y":1499.6665687561035,"wires":[["ce45d497.320ab8"],["50177319.bdf89c"],["ba1d8a48.e4a868"],["9ab920d5.56dc4"],[],[]]},{"id":"50a907f7.7b5a28","type":"ui_button","z":"a293dda6.52c98","name":"","group":"37eca3f3.d9bb3c","order":5,"width":0,"height":0,"passthru":false,"label":"Set Lamp yellow Blink 10s","color":"","bgcolor":"","icon":"","payload":"10","payloadType":"num","topic":"","x":150,"y":1400,"wires":[["ad6fb341.26848"]]},{"id":"20531aed.955a66","type":"ui_button","z":"a293dda6.52c98","name":"","group":"37eca3f3.d9bb3c","order":5,"width":0,"height":0,"passthru":false,"label":"Reset Lamps","color":"","bgcolor":"","icon":"","payload":"10","payloadType":"num","topic":"","x":110,"y":1500,"wires":[["6a0e0ca.4757ff4"]]},{"id":"2b35cab8.74a9e6","type":"OpcUa-Item","z":"a293dda6.52c98","item":"ns=4;s=|var|CPX-E-CEC-C1-PN.Application.G.Basic.p.ActionId","datatype":"UInt16","value":"","name":"Basic.p.ActionId","x":300,"y":700,"wires":[["4f9446f8.947a38"]]},{"id":"8d6bed0c.8d05e","type":"OpcUa-Item","z":"a293dda6.52c98","item":"ns=4;s=|var|CPX-E-CEC-C1-PN.Application.G.Basic.p.Data[0]","datatype":"UInt16","value":"","name":"Basic.p.Data[0]","x":299,"y":730,"wires":[["4f9446f8.947a38"]]},{"id":"4af773da.07175c","type":"OpcUa-Item","z":"a293dda6.52c98","item":"ns=4;s=|var|CPX-E-CEC-C1-PN.Application.G.Basic.p.Data[1]","datatype":"UInt16","value":"","name":"Basic.p.Data[1]","x":302,"y":761,"wires":[["4f9446f8.947a38"]]},{"id":"8fb8ee90.b86e4","type":"ui_text","z":"a293dda6.52c98","group":"37eca3f3.d9bb3c","order":1,"width":0,"height":0,"name":"","label":"Action ID [Word 0]","format":"{{msg.payload}}","layout":"row-spread","x":1210,"y":580,"wires":[]},{"id":"100a05ab.7beaba","type":"ui_text","z":"a293dda6.52c98","group":"37eca3f3.d9bb3c","order":2,"width":0,"height":0,"name":"","label":"Data[0] [Word 1]","format":"{{msg.payload}}","layout":"row-spread","x":1201,"y":617,"wires":[]},{"id":"bb963448.8d8b18","type":"ui_text","z":"a293dda6.52c98","group":"37eca3f3.d9bb3c","order":3,"width":0,"height":0,"name":"","label":"Data[1] [Word 1]","format":"{{msg.payload}}","layout":"row-spread","x":1201,"y":654,"wires":[]},{"id":"c89448c6.47c538","type":"ui_text","z":"a293dda6.52c98","group":"6864d7e5.8b6ab8","order":7,"width":0,"height":0,"name":"","label":"SlideCnt : ","format":"{{msg.payload}}","layout":"row-spread","x":1182,"y":693,"wires":[]},{"id":"fffd3f19.fef7","type":"ui_text","z":"a293dda6.52c98","group":"6864d7e5.8b6ab8","order":8,"width":0,"height":0,"name":"","label":"BarCode :","format":"{{msg.payload}}","layout":"row-spread","x":1180,"y":740,"wires":[]},{"id":"7af9ee7c.53f3e","type":"OpcUa-Item","z":"a293dda6.52c98","item":"ns=4;s=|var|CPX-E-CEC-C1-PN.Application.G.In.p.SlideCnt","datatype":"UInt16","value":"","name":"in.p.SlideCnt","x":290,"y":820,"wires":[["4f9446f8.947a38"]]},{"id":"d6f5753f.8505e8","type":"OpcUa-Item","z":"a293dda6.52c98","item":"ns=4;s=|var|CPX-E-CEC-C1-PN.Application.G.In.p.BarCode","datatype":"UInt16","value":"","name":"in.p.BarCode","x":290,"y":860,"wires":[["4f9446f8.947a38"]]},{"id":"9e598e43.49897","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://localhost:4840","secpol":"None","secmode":"NONE","login":false},{"id":"37eca3f3.d9bb3c","type":"ui_group","z":"","name":"MPS - Basic Control [Basic]","tab":"710f6bf8.6becd4","disp":true,"width":"6","collapse":false},{"id":"6864d7e5.8b6ab8","type":"ui_group","z":"","name":"MPS - Station Control [IN]","tab":"710f6bf8.6becd4","disp":true,"width":"6","collapse":false},{"id":"e285877a.3933d8","type":"ui_group","z":"","name":"Configuration","tab":"710f6bf8.6becd4","disp":true,"width":"6","collapse":false},{"id":"710f6bf8.6becd4","type":"ui_tab","z":"","name":"Refbox SIm OPC-UA","icon":"dashboard"}]